.container {
  display: flex;
  flex-direction: column;
  margin: 40px 270px 40px;
}

.presentation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.presentation-name {
  margin: 0;
  color: #ffffff;
}

.presentation-pro {
  margin-top: 8px;
  margin-bottom: 0;
  color: #ffffff;
}

.hr {
  margin: 20px 0;
}

.description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stefano {
  width: 163px;
  height: 164px;
  margin: 32px 0;
  border-radius: 100px;
}

.description-text-container {
  margin: 0px 0px 0px 20px;
}

.description-text {
  color: #ffffff;
  font-size: 21px;

  font-weight: bold;
}

.description-text-p {
  margin: 20px 0px 0px;
  padding: 0px 0px 0px 20px;

  color: #ffffff;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px;
  align-items: center;
}

.resume {
  background-color: #c084fc;
  margin: 20px 20px 0px 0px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 12px;
  height: 40px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.webs {
  margin: 20px 20px 0px 0px;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
}

.gmail {
  margin: 20px 0px 0px;
  color: #ffffff;
  text-decoration: underline;
}

.experience-container {
  display: flex;
  flex-direction: row;
}

.my-pasion {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.dedicated {
  margin: 16px 0px 0px;
  font-size: 16px;
  color: #ffffff;
}

.img-experience {
  width: 400px;
  height: 300px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubbles-skills-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template: 200px 250px / 300px 300px;
}

.bubble {
  margin: 16px;
  padding: 15px;
  background-color: #262626;
  border: 2px solid gray;

  flex: 1;
  border-radius: 25px;
}

.title-skills {
  color: #c084fc;
  font-size: 20px;
}

.skills {
  color: #ffffff;
  font-size: 16px;
  margin: 16px 0px 0px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-project {
  color: #ffffff;
  margin: 0px 0px 16px;
  font-size: 20px;
}
.bubble-project {
  display: flex;
  flex: 1;
  padding: 16px;
  background-color: #262626;
  border: 2px solid gray;
  border-radius: 25px;
  flex-direction: column;
}

.position-location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.position {
  font-size: 20px;
  color: #c084fc;
}

.location {
  color: #d4d4d4;
  font-size: 20px;
}

.date {
  margin: 16px 0px 0px;
  color: #d4d4d4;
  font-size: 18px;
}

.li {
  color: #ffffff;
  font-size: 18px;
  margin: 8px 0px 0px;
}
