.container {
  display: flex;
  flex-direction: column;
  margin: 40px 270px 40px;
}

.presentation-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.presentation-name {
  margin: 0;
  color: #ffffff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.presentation-pro {
  margin-top: 8px;
  margin-bottom: 0;
  color: #ffffff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.hr {
  margin: 20px 0;
}

.description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stefano {
  width: 163px;
  height: 164px;
  margin: 32px 0;
  border-radius: 100px;
}

.description-text-container {
  margin: 0px 0px 0px 20px;
}

.description-text {
  color: #ffffff;
  font-size: 21px;

  font-weight: bold;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.description-text-p {
  margin: 20px 0px 0px;
  padding: 0px 0px 0px 20px;
  color: #ffffff;
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px;
  align-items: center;
}

.resume {
  background-color: #9333ea;
  margin: 20px 20px 0px 0px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 12px;
  height: 40px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.webs {
  margin: 20px 20px 0px 0px;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.gmail {
  margin: 20px 0px 0px;
  color: #ffffff;
  text-decoration: underline;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.experience-container {
  display: flex;
  flex-direction: row;
}

.my-pasion {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.dedicated {
  margin: 16px 0px 0px;
  font-size: 16px;
  color: #ffffff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.img-experience {
  width: 400px;
  height: 300px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubbles-skills-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template: 200px 250px / 300px 300px;
}

.bubble {
  margin: 16px;
  padding: 15px;
  background-color: #262626;
  border: 2px solid gray;

  flex: 1;
  border-radius: 25px;
}

.title-skills {
  color: #c084fc;
  font-size: 20px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.skills {
  color: #ffffff;
  font-size: 16px;
  margin: 16px 0px 0px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-project {
  color: #ffffff;
  margin: 0px 0px 16px;
  font-size: 20px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
.bubble-project {
  display: flex;
  flex: 1;
  padding: 16px;
  background-color: #262626;
  border: 2px solid gray;
  border-radius: 25px;
  flex-direction: column;
}

.position-location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.position {
  font-size: 20px;
  color: #c084fc;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.location {
  color: #d4d4d4;
  font-size: 20px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.date {
  margin: 16px 0px 0px;
  color: #d4d4d4;
  font-size: 18px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.li {
  color: #ffffff;
  font-size: 18px;
  margin: 8px 0px 0px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.resume:hover {
  background-color: #4f207d;
  transition: 0.5s;
  cursor: pointer;
}

.webs:hover {
  color: #9a3ef7;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 16px;
  }

  .presentation-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .presentation-name {
    font-size: 30px;
  }

  .presentation-pro {
    font-size: 16px;
  }

  .description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .description-text-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }

  .stefano {
    margin: 0px 0px 20px 0px;
  }

  .description-text {
    font: 30px;
    margin: 0;
  }

  .description-text-p {
    font-size: 16px;
    margin: 20px 0px 0px;
    padding: 0px 0px 0px 20px;
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .webs {
    font-size: 16px;
    margin: 20px 20px 0px 0px;
  }

  .resume {
    font-size: 16px;
    margin: 20px 20px 0px 0px;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }

  .bubbles-skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .img-experience {
    width: 20px;
    height: 20px;
  }
}
